<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29627833423-ovoidg3qq8gpn9j9cspdrpn399j1sf8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29627833423-ovoidg3qq8gpn9j9cspdrpn399j1sf8a</string>
	<key>API_KEY</key>
	<string>AIzaSyDuFf3mCPyNhVzTTsdObeYL3uA3OAv0HSE</string>
	<key>GCM_SENDER_ID</key>
	<string>29627833423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jasspj.servicesapp</string>
	<key>PROJECT_ID</key>
	<string>homeservicepaidplanapp</string>
	<key>STORAGE_BUCKET</key>
	<string>homeservicepaidplanapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29627833423:ios:48c5ae3242761fa5121e3a</string>
</dict>
</plist>